body{
      margin: 0;
      padding: 0;
      background-color:  #A1FFCE;
      }
    .loading{
      position: absolute;
      top: 50%;
      left: 50%;
      
      height: 150px;
      width: 150px;
      transform: translate(-50%,-50%);
    } 
    p{
      font-size: 18px;
      font-family: 'Satisfy', cursive;
    }
    .loading span{
      position: absolute;
      top: 0;
      left:0;
      border-radius: 5px;
      height: 50px;
      width: 50px;
      background-color: #000;
      animation: load 2s linear infinite;
      align-items: center;
    }
    .loading span:nth-child(1)
    {

      
      
      animation-delay: 0s;
      background-color: #feb47b;
    }
    .loading span:nth-child(2)
    {
      animation-delay: -0.50s;
      background-color: #de6161;
    }
    .loading span:nth-child(3)
    {
      animation-delay: -1s;
      background-color: #50ED5E;  
    }
    .loading span:nth-child(4)
    {
      animation-delay: -1.5s;
      background-color: #fff;
    }

    @keyframes load{
      0%{
        top: 0;
        left:0;
      }
      12.5%
      {
        top: 0;
        left: 50%;
      }
      25%
      {
        top: 0;
        left: 50%;
      }
      37.5%
      {
        top:50%;
        left:50%;
      }
      50%
      {
        top:50%;
        left:50%;
      }
      67.5%
      {
        top:50%;
        left:0;
      }
      75%
      {
        top:50%;
        left:0;
      }
      87.5%
      {
        top:0;
        left:0;
      }
      100%
      {
        top:0;
        left:0;
      }
    }